// Body
$body: rgba(54, 69, 79, 0.95);

// Nav
$c-linav: rgb(0, 0, 0);
$c-mixin-box-shadow: rgba(0, 0, 0, 0.5);
$c-wallnav: rgb(255, 255, 255);

// Polices 
$c-words: rgb(255, 255, 255);
$c-words-dark: rgb(0, 0, 0);

// Cartes articles 
    // Couleur slate-gray
    $c-bgca: rgb(112, 128, 144);
    // Couleur platinium
    $c-back-card-accueil: rgba(255, 255, 255, 0.7); 
    // Couleur gray
    $c-wall-card-inpage: rgb(128, 128, 128);

// Footer
    // Couleur charcoal
    $c-footer: rgb(54, 69, 79);

// List of gray Shades 
$charcoal: rgb(54, 69, 79);
$gray: rgb(128, 128, 128);
$pewter: rgb(137, 148, 153);
$platinium: rgb(229, 228, 226);
$sage-green: rgb(138, 154, 91);
$silver: rgb(192, 192, 192);
$slate-gray: rgb(112, 128, 144);